<%- include("navbar.ejs") %>


<div class="container mt-2 pb-3">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-6  col-12 p-5 border border-info" style="box-shadow: 5px 0px 5px 5px rgb(150, 143, 143);">
                <img src="/user/images/slider.png" class="img-fluid">

        </div>
        <div class="col-lg-12 col-xl-6 col-md-12 col-sm-12 col-12 p-5">
            <h1>Welcome To Tourist</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A id assumenda, iste ducimus nesciunt quas asperiores, consequatur nam odit ipsa quod sit hic magnam repellendus laboriosam. Nemo voluptates nulla vitae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate natus vero amet inventore soluta odit magnam ut commodi quaerat, omnis aliquid ea, rem aut illo sunt quia suscipit? Quibusdam, quia.</p>
            <button class="btn btn-primary">Read More</button>
        </div>
    </div>
</div>
<div class="container text-center mt-1 p-1">
    <h1>Welcome To Our Cars</h1>
    <img src="/user/images/slider.png" class="w-100 img-fluid">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit optio facere quibusdam illum labore asperiores ea soluta, magni numquam voluptate sequi, vel assumenda quos at minus libero autem recusandae quas minima? Optio inventore, assumenda reprehenderit error totam similique perferendis suscipit culpa quibusdam hic, ex magni consequuntur minus placeat aperiam voluptates? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas harum excepturi, error perspiciatis, vel magni voluptatem sit, aspernatur ut quaerat assumenda ducimus explicabo illo qui consectetur quis? Libero, distinctio vero.</p>
</div>

<div class="container mt-2 mb-2">
    <h1 class="p-2 bg-light text-center" >Travel Guide </h1>
    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3 mt-3">
            <div class="card">
                <img src="/user/images/carfront.png" class="card-img-top">
                <div class="card-body text-center">
                  <h5 class="card-title">Travel Gude</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, alias? Atque eveniet repellat, dolore quasi</p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </div>
              </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 mt-3">
            <div class="card">
                <img src="/user/images/carfront.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Travel Gude</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, alias? Atque eveniet repellat, dolore quasi</p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </div>
              </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 mt-3">
            <div class="card">
                <img src="/user/images/carfront.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Travel Gude</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, alias? Atque eveniet repellat, dolore quasi</p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </div>
              </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 mt-3">
            <div class="card">
                <img src="/user/images/carfront.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Travel Gude</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, alias? Atque eveniet repellat, dolore quasi</p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </div>
              </div>
        </div>
    </div>
</div>


<%- include("footer.ejs") %>