<%- include("navbar.ejs") %>
    <h1 class="bg-light text-center p-3 mt-1">Our Blog</h1>
    <div class="container blog_section">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3 col-12 col-sm-6 mt-2 mb-3 text-center">
                <div class="card p-2 mt-2" style="width: auto;">
                    <img src="https://wallpapercave.com/wp/wp9777805.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mumbai</h5>
                        <p class="card-text">
                            <p class="d-inline-flex gap-1">
                                <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#travel_guide" role="button"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    Travel Guide
                                </a>
                            </p>
                            <p class="d-inline-flex gap-1">
                                <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#blog_information" role="button"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    Blog Info
                                </a>
                            </p>
                            </p>

                            <div class="collapse" id="travel_guide">
                                <div class="card card-body">
                                  Ganesh Kangude
                                </div>
                              </div>
                            <div class="collapse" id="blog_information">
                                <div class="card card-body">
                                  Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                                </div>
                              </div>


                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>

                             <p class="card-text fw-bold text-end">
                              
                                <i class="bi bi-person text-dark fs-5"></i>Blog Post By<br>Ganesh Kangude <br>
                                
                                <i class="bi bi-calendar-event"></i>Date<br>16-05-2003
                            </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3 col-12 col-sm-6 mt-2 mb-3 text-center">
                <div class="card p-2 mt-2" style="width: auto;">
                    <img src="https://wallpapercave.com/wp/wp9777805.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mumbai</h5>
                        <p class="card-text">
                            <p class="d-inline-flex gap-1">
                                <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#travel_guide" role="button"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    Travel Guide
                                </a>
                            </p>
                            <p class="d-inline-flex gap-1">
                                <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#blog_information" role="button"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    Blog Info
                                </a>
                            </p>
                            </p>

                            <div class="collapse" id="travel_guide">
                                <div class="card card-body">
                                  Ganesh Kangude
                                </div>
                              </div>
                            <div class="collapse" id="blog_information">
                                <div class="card card-body">
                                  Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                                </div>
                              </div>



                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                             <p class="card-text fw-bold text-end">
                              
                                <i class="bi bi-person text-dark fs-5"></i>Blog Post By<br>Ganesh Kangude <br>
                                
                                <i class="bi bi-calendar-event"></i>Date<br>16-05-2003
                            </p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3 col-12 col-sm-6 mt-2 mb-3 text-center">
                <div class="card p-2 mt-2" style="width: auto;">
                    <img src="https://wallpapercave.com/wp/wp9777805.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mumbai</h5>
                        <p class="card-text">
                            <p class="d-inline-flex gap-1">
                                <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#travel_guide" role="button"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    Travel Guide
                                </a>
                            </p>
                            <p class="d-inline-flex gap-1">
                                <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#blog_information" role="button"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    Blog Info
                                </a>
                            </p>
                            </p>

                            <div class="collapse" id="travel_guide">
                                <div class="card card-body">
                                  Ganesh Kangude
                                </div>
                              </div>
                            <div class="collapse" id="blog_information">
                                <div class="card card-body">
                                  Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                                </div>
                              </div>



                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                             <p class="card-text fw-bold text-end">
                              
                                <i class="bi bi-person text-dark fs-5"></i>Blog Post By<br>Ganesh Kangude <br>
                                
                                <i class="bi bi-calendar-event"></i>Date<br>16-05-2003
                            </p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3 col-12 col-sm-6 mt-2 mb-3 text-center">
                <div class="card p-2 mt-2" style="width: auto;">
                    <img src="https://wallpapercave.com/wp/wp9777805.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mumbai</h5>
                        <p class="card-text">
                            <p class="d-inline-flex gap-1">
                                <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#travel_guide" role="button"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    Travel Guide
                                </a>
                            </p>
                            <p class="d-inline-flex gap-1">
                                <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#blog_information" role="button"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    Blog Info
                                </a>
                            </p>
                            </p>

                            <div class="collapse" id="travel_guide">
                                <div class="card card-body">
                                  Ganesh Kangude
                                </div>
                              </div>
                            <div class="collapse" id="blog_information">
                                <div class="card card-body">
                                  Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                                </div>
                              </div>



                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                             <p class="card-text fw-bold text-end">
                              
                                <i class="bi bi-person text-dark fs-5"></i>Blog Post By<br>Ganesh Kangude <br>
                                
                                <i class="bi bi-calendar-event"></i>Date<br>16-05-2003
                            </p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <%- include("footer.ejs") %>