<%-include("navbar.ejs") %>
<h1 class="text-center bg-light p-2 mt-1">Our All Cars</h1>
<div class="container">
    <div class="row">
        
            <div class="col-md-6 col-sm-12 col-12">
                <img src="slider.png" class="img-fluid">
            </div>
            <div class="col-md-6 col-sm-12 col-12 col-xl-6">
                <h1>Car Owner : Ganesh Kangude</h1>
                <h1>Car Name :</h1>
            </div> 
    
    </div>
</div>




