<!-- footer part start -->
<footer>
    <div class="container-fluid bg-dark text-white">
        <div class="row">
            <div class="col-md-3 col-sm-6  col-12 p-5 text-center">
                <div>
                    <h4>About Us</h4>
                    <img src="rental_car_logo.png" class="img-fluid w-50" alt="">
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed libero alias officiis labore.
                        Cumque ullam, qui dolorum dicta exercitationem quibusdam, voluptate saepe et temporibus debitis
                        nesciunt dolor laudantium aliquid aliquam.
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6  col-12 p-5">
                <div>
                    <h4>Useful Links</h4>
                    <ul style="list-style-type: none;">
                        <li>Home</li>
                        <li>About</li>
                        <li>Services</li>
                        <li>Blog</li>
                        <li>Contact</li>
                        <li>Privacy Policy</li>
                        <li>Terms And Conditions</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6  col-12 p-5">
                <h4>Address</h4>
                <ul style="list-style-type: none;">
                    <li><i class="bi bi-geo-alt-fill">&nbsp;Shrigonda Ahmednagar 413701</i></li>
                    <li><i class="bi bi-envelope-plus">&nbsp;ganeshkangude8975@gmail.com</i></li>
                    <li><i class="bi bi-telephone"> &nbsp;+91 8975296487</i></li>
                    <li><i class="bi bi-facebook"> &nbsp; MoryaTravels8975</i></li>
                    <li><i class="bi bi-instagram"> &nbsp;MoryaTravels8975</i></li>
                    <li><i class="bi bi-youtube"> &nbsp;MoryaTravels8975</i></li>   
                </ul>
            </div>
            <div class="col-md-3 col-sm-6  col-12 p-5 text-center">
                <h4>Any Question Submit This Form</h4>
                <form action="#">
                    <div class="col-12 mt-2">
                        <input type="text" placeholder="Enter Your Name" class="form-control">
                    </div>
                    <div class="col-12 mt-2">
                        <input type="number" placeholder="Enter Your Mobile" class="form-control">
                    </div>
                    <div class="col-12 mt-2">
                        <textarea placeholder="Enter Your Details" class="form-control"></textarea>

                    </div>
                    <div class="col-12 mt-2 text-end">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white text-center mt-0 pb-2">
        Developed By <i>Ganesh Kangude</i>
    </div>
</footer>
<!-- footer part end -->



</body>

</html>