<%- include("navbar.ejs") %>


    <!-- carasol start -->

    <div class="carasol"
        style="background-image: url('https://www.pixsavor.com/uploads/large/4k-car/4k-black-nissan-car.jpg') !important;height: 600px !important;">
        <div class="rent_car_form">
            <div class="container-fluid text-center m-3">
                <form action="#" method="post">
                    <h2>Make Your trip</h2>
                    <div class="row">
                        <div class="col-md-12 col-12 mt-3">
                            <label for="pick_up_location">Pick Up Location</label>
                            <input type="text" name="pick_up_location" placeholder="Enter City,airport,station" class="form-control">
                        </div>
                        <div class="col-md-6 col-12 mt-3">
                            <label for="pick_up_time">Pick Up Time</label>
                            <input type="time" name="pick_up_time" class="form-control">
                        </div>
                        <div class="col-md-6 col-12 mt-3">
                            <label for="drop_out_time">Drop Out Time</label>
                            <input type="time" name="pick_out_time" class="form-control">
                        </div>
                        <div class="col-md-6 col-12 mt-3">
                            <label for="pick_up_location">Pick Up Date</label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-md-6 col-12 mt-3">
                            <label for="pick_up_location">Drop Out Date</label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-12 mt-3 col-md-12 text-end">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="carasol2">
            <div class="container">
                <h1 class="m-5">37% off Book Your ride now</h1>
                <h4 class="m-5">Save Up to 2300 on best ride</h4>
            </div>
        </div>
    </div>

    <!-- carasol end -->


    <!-- card secttion 1 start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12 mt-2 pb-2 ">
                <div class="trend_car_card1 rounded text-center border border-dark"
                    style="background-image: url('https://www.wsupercars.com/wp-content/uploads/2025-Lamborghini-Temerario-001.jpg') !important;">
                    <h4 class="text-dark mt-4 pt-5">Scorpio</h4>
                    <h1 class="text-primary mt-2">Our Trending <br> Car</h1>
                    <h3 class="text-info mt-2"><button class="btn btn-success">45% Off</button></h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 mt-2 pb-2 ">
                <div class="trend_car_card1 rounded text-center border border-dark"
                    style="background-image: url('https://www.wsupercars.com/wp-content/uploads/2025-Lamborghini-Temerario-001.jpg') !important;">
                    <h4 class="text-dark mt-4 pt-5">Scorpio</h4>
                    <h1 class="text-primary mt-2">Our Trending <br> Car</h1>
                    <h3 class="text-info mt-2"><button class="btn btn-success">45% Off</button></h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 mt-2 pb-2 ">
                <div class="trend_car_card1 rounded text-center border border-dark"
                    style="background-image: url('https://www.wsupercars.com/wp-content/uploads/2025-Lamborghini-Temerario-001.jpg') !important;">
                    <h4 class="text-dark mt-4 pt-5">Scorpio</h4>
                    <h1 class="text-primary mt-2">Our Trending <br> Car</h1>
                    <h3 class="text-info mt-2"><button class="btn btn-success">45% Off</button></h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 mt-2 pb-2 ">
                <div class="trend_car_card1 rounded text-center border border-dark"
                    style="background-image: url('https://www.wsupercars.com/wp-content/uploads/2025-Lamborghini-Temerario-001.jpg') !important;">
                    <h4 class="text-dark mt-4 pt-5">Scorpio</h4>
                    <h1 class="text-primary mt-2">Our Trending <br> Car</h1>
                    <h3 class="text-info mt-2"><button class="btn btn-success">45% Off</button></h3>
                </div>
            </div>
        </div>
    </div>
    <!-- card section 1 end -->

    <!-- card section 2 start -->
    <div class="container-fluid card_sec_2">
        <div class="trends_design bg-dark border border-white rounded col-md-6 col-sm-12 col-12 mb-3">
            <div style="height: 15%;width: 100%;">
                <h1 class="text-center text-white mt-2"> Trends</h1>
                <hr class="text-white">
            </div>
            <div style="height: 75%;width: 100%;background-image: url('https://c4.wallpaperflare.com/wallpaper/355/994/562/car-lamborghini-aventador-supercars-vehicle-wallpaper-preview.jpg') !important;"
                class="trends_image text-center fw-bold border border-white">
                <h2 class="bg-body-tertiary">Mahindra Scopio N Model<br> Launch Next Month </h3><a href="/carbookform">
                    <h3 class="text-end"><button class="btn btn-success">Book Your Car Now <br><i
                                class="bi bi-telephone"></i>+91 8975296487</button></h3></a>
            </div>
        </div>
        <div class="trends_info border border-dark rounded text-center">
            <h4 class="fw-bold mt-3"> Deal Of Day</h4>
            <h2 class="fw-bold mt-2">Book Now And make your journay Fruitfull</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, molestias tempore? Dolorem voluptate
                quaerat aliquam accusantium expedita! Explicabo sapiente perspiciatis accusamus numquam, eius impedit
                amet ullam similique. Adipisci, veniam quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo eos suscipit, illum asperiores consequuntur
                natus vitae aliquam exercitationem quod. Ut quos maiores consequatur? Velit a vitae, qui odio quae
                blanditiis.</p>

            <h3> &#8377; 8000 <del class="text-danger">&#8377; 1200</del> </h3>
        </div>
    </div>
    <!-- card section 2 end -->
    <!-- card section 3 start -->
    <div class="container mb-3">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 rounded b mt-3 p-5 text-center">
                <h1>Why Choose Zoomcar Self Drive Cars In Mumbai</h1>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 rounded b mt-3 p-4 text-center">
                <div style="height: 70%;width: 100%;float: left;">
                    <img src="/user/images/carfront.png" class="img-fluid">
                </div>
                <div style="height: 30%;width: 100%;float: left;" class="pb-3">
                    <h1>Accesible</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, nihil.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 rounded  mt-3 p-4 text-center">
                <div style="height: 70%;width: 100%;float: left;">
                    <img src="/user/images/secure.png" class="img-fluid">
                </div>
                <div style="height: 30%;width: 100%;float: left;" class="pb-3">
                    <h1>Secure</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, nihil.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 rounded  mt-3 p-4 text-center">
                <div style="height: 70%;width: 100%;float: left;">
                    <img src="/user/images/secure.png" class="img-fluid">
                </div>
                <div style="height: 30%;width: 100%;float: left;" class="pb-3">
                    <h1>convenient</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, nihil.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- card section 3 end -->

    <!-- counter section  start -->
    <div class="container mb-3">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12 bg-body-tertiary p-5">
                <div style="height: 50%;width: 100%;" class="text-dark text-center">
                    <h1>10</h1>
                </div>
                <div style="height: 50%;width: 100%;" class="text-center mt-4">
                    <h2>Services Years</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 bg-body-tertiary p-5">
                <div style="height: 50%;width: 100%;" class="text-dark text-center">
                    <h1>1300+</h1>
                </div>
                <div style="height: 50%;width: 100%;" class="text-center mt-4">
                    <h2>Our Clients in Last Year</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 bg-body-tertiary p-5">
                <div style="height: 50%;width: 100%;" class="text-dark text-center">
                    <h1>1300+</h1>
                </div>
                <div style="height: 50%;width: 100%;" class="text-center mt-4">
                    <h2>Car Book in year</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 bg-body-tertiary p-5">
                <div style="height: 50%;width: 100%;" class="text-dark text-center">
                    <h1>40+</h1>
                </div>
                <div style="height: 50%;width: 100%;" class="text-center mt-4">
                    <h2>Cars In Our Services</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- counter section  end -->

    <%- include("footer.ejs") %>