<%- include("navbar.ejs") %>

    <h1 class="text-center bg-light p-2">Our Latest Services</h1>
    <div class="container mt-1 mb-2 text-center services_card">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3 col-12 col-sm-6">
                <div class="mt-2 card" style="width:auto;">
                    <img src="https://w0.peakpx.com/wallpaper/723/817/HD-wallpaper-suzuki-ertiga-minivans-2019-cars-parking-japanese-cars-2019-suzuki-ertiga-suzuki.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Ertiga</h3>
                        <p class="card-text fw-bold">High Speed Car</p>
                        <h4 class="card-text"><i> &#8377; 15Km /hr  <del class="text-danger">&#8377; 27Km /hr</del></i></h4>
                        <a href="/carbook" class="btn btn-primary">See More Cars</a>
                        <a href="/carbookform" class="btn btn-primary">Book Car</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3 col-12 col-sm-6">
                <div class="mt-2 card" style="width:auto;">
                    <img src="https://w0.peakpx.com/wallpaper/723/817/HD-wallpaper-suzuki-ertiga-minivans-2019-cars-parking-japanese-cars-2019-suzuki-ertiga-suzuki.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Ertiga</h3>
                        <p class="card-text fw-bold">High Speed Car</p>
                        <h4 class="card-text"><i> &#8377; 15Km /hr  <del class="text-danger">&#8377; 27Km /hr</del></i></h4>
                        <a href="/carbook" class="btn btn-primary">See More Cars</a>
                        <a href="/carbookform" class="btn btn-primary">Book Car</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3 col-12 col-sm-6">
                <div class="mt-2 card" style="width:auto;">
                    <img src="https://w0.peakpx.com/wallpaper/723/817/HD-wallpaper-suzuki-ertiga-minivans-2019-cars-parking-japanese-cars-2019-suzuki-ertiga-suzuki.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Ertiga</h3>
                        <p class="card-text fw-bold">High Speed Car</p>
                        <h4 class="card-text"><i> &#8377; 15Km /hr  <del class="text-danger">&#8377; 27Km /hr</del></i></h4>
                        <a href="/carbook" class="btn btn-primary">See More Cars</a>
                        <a href="/carbookform" class="btn btn-primary">Book Car</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3 col-12 col-sm-6">
                <div class="mt-2 card" style="width:auto;">
                    <img src="https://w0.peakpx.com/wallpaper/723/817/HD-wallpaper-suzuki-ertiga-minivans-2019-cars-parking-japanese-cars-2019-suzuki-ertiga-suzuki.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Ertiga</h3>
                        <p class="card-text fw-bold">High Speed Car</p>
                        <h4 class="card-text"><i> &#8377; 15Km /hr  <del class="text-danger">&#8377; 27Km /hr</del></i></h4>
                        <a href="/carbook" class="btn btn-primary">See More Cars</a>
                        <a href="/carbookform" class="btn btn-primary">Book Car</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

    <%- include("footer.ejs") %>